body{
    background-image: url(https://media3.giphy.com/media/l0He4fJxPCbfqv7Xi/200.webp?cid=ecf05e479t8j9tu7wk58oq14k2az5xgv1m1gtoyvqgf49lus&rid=200.webp&ct=g);
} 
h1{
    margin:0 auto;
}
nav{
    margin: 0 auto;
}