body{
    margin: 0;
    font-family: 'Nanum Gothic', sans-serif;
    background:rgb(31, 14, 14);
    color:ghostwhite;
}
main{
    max-width: 50rem;
    margin: 0 auto;
    color:ghostwhite
}
header{
    text-align: center;
    background:black;
    color:ghostwhite;
}
nav a{
    margin: 1rem;  
    color:ghostwhite;
}
section h2{
    background: rgb(80, 79, 79);
    margin: 0;
    padding: 1rem;
    color:ghostwhite;
    font-weight:900;
}
section p{
    background:rgb(80, 79, 79);
    margin: 0;
    padding: .5rem;
    color:ghostwhite;
    font-weight:700
}
img{
    margin:0 auto;
    display:block;
    width: 100%;
}
section{
    margin:2rem auto;
    border-left: .5rem solid goldenrod;
}